
@import url(https://fonts.googleapis.com/css?family=Ek+Mukta:400,800,200,300);
@import url(https://fonts.googleapis.com/css?family=Fanwood+Text:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,100,300,700);
@import url(https://fonts.googleapis.com/css?family=Macondo+Swash+Caps);

// body {
// 	font-family: 'Ek Mukta', sans-serif;
// 	font-weight: lighter;
// }
.logo {
	margin-top: 30px;

  .logoName {
	 padding: 40px 0;
	 font-family: 'Josefin Slab', serif;
	 font-size: 45px;
	 text-align: center;
	 letter-spacing: 5px;
  }
  .logoName:hover {
  	color: #222;
  	cursor: pointer;
  }
  .logoName:first-letter {
  	  font-family: 'Macondo Swash Caps', cursive;
  	  font-size: 55px;
  }
}

a {
	text-decoration: none !important;
	color: #131313;
}
nav {
	height: 40px;
	background-color: #000;
	ul {
		padding-top: 15px;
		text-align: right;
		span {
			color: #FFF;
		}
		li.navLi {
			font-family: 'Josefin Slab', serif;
			font-weight: light;
			color: #FFF;
			font-size: 16px;
			display: inline;
			padding: 0 25px;

		}

		span {
			color: #FFF;
			transition-property: color;
			transition-duration: 0.7s;
			transition-timing-function: linear;
		}
		span:hover {
			color: rgb(255,147,78);
			
		}
	}
}
img#logo {
	transition-property: background-color;
	transition-duration: 1s;
	transition-timing-function: linear;

}
img#logo:hover {
	background-color: rgba(197, 197, 197, 0.5);
	border-shadow: 0 1px 0 rgba(255,255,255,1);
	// border-radius: 25px;
			
}

.home {
	// background-image: url("background.png");
	background-repeat: repeat;
	height: 100vh;
}

.title{	
	// margin: 50% auto;
	padding-top: 20%;
	color: #131313;
	font-size: 80px;
	text-align: center;
	font-family: 'Ek Mukta', sans-serif;
	font-weight: lighter;
	// font-family: century gothic;
    letter-spacing: .15em;
    text-shadow: 
      1px -1px 0 #767676, 
      -1px 2px 1px #737272, 
      -2px 4px 1px #767474, 
      -3px 6px 1px #787777, 
      -4px 8px 1px #7b7a7a, 
      -5px 10px 1px #7f7d7d, 
      -6px 12px 1px #828181, 
      -7px 14px 1px #868585, 
      -8px 16px 1px #8b8a89, 
      -9px 18px 1px #8f8e8d, 
      -10px 20px 1px #949392, 
      -11px 22px 1px #999897, 
      -12px 24px 1px #9e9c9c, 
      -13px 26px 1px #a3a1a1, 
      -14px 28px 1px #a8a6a6, 
      -15px 30px 1px #adabab, 
      -16px 32px 1px #b2b1b0, 
      -17px 34px 1px #b7b6b5, 
      -18px 36px 1px #bcbbba, 
      -19px 38px 1px #c1bfbf, 
      -20px 40px 1px #c6c4c4, 
      -21px 42px 1px #cbc9c8, 
      -22px 44px 1px #cfcdcd, 
      -23px 46px 1px #d4d2d1, 
      -24px 48px 1px #d8d6d5, 
      -25px 50px 1px #dbdad9, 
      -26px 52px 1px #dfdddc, 
      -27px 54px 1px #e2e0df, 
      -28px 56px 1px #e4e3e2;
  }

  .title:first-letter {
  	  font-family: 'Macondo Swash Caps', cursive;
  	  font-size: 120px;
  }
.enter {
	@extend .title;
	// padding-top: 10%;
	padding: 0;
	font-size: 50px;
	margin: 10%;
	transition-property: color text-shadow;
	transition-duration: 0.3s;
    transition-timing-function: linear;
}
.enter:first-letter {
	font-family: 'Ek Mukta', sans-serif;
}

.enter:hover {
	color: rgba(255, 101, 0, 0.9);
	text-shadow: none;
}




